<%= form_for(@phone, html: { class: "dark-matter" }) do |f| %>
  <% if @phone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phone.errors.count, "error") %> prohibited this phone from being saved:</h2>

      <ul>
      <% @phone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<center>
<h1> Phones </h1>
</center>

  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :contact_id %><br>
    <%= f.text_field :contact_id %>
  </div>
  <div class="field">
    <center>
    <%= f.submit "Salvar" , class: "button"%>
    <%= link_to 'Back', contacts_path, class: "button-back" %>
    </center>
  </div>
<% end %>
